# python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# virtual environment
.venv/

# uv
.uv/

# data (keep metadata, ignore heavy files)
data/*
!data/metadata_*.csv
data/*.faiss
data/*.npy
data/.gitkeep

# logs
logs/

# jupyter
.ipynb_checkpoints/
query_s1.ipynb

# huggingface cache
.cache/

# os
.DS_Store
Thumbs.db

# ide
.vscode/
.idea/